[workspace]
resolver = "2"
members = [
    "livekit",
    "livekit-api",
    "livekit-protocol",
    "livekit-ffi",
    "livekit-uniffi",
    "livekit-ffi-node-bindings",
    "livekit-runtime",
    "libwebrtc",
    "soxr-sys",
    "yuv-sys",
    "imgproc",
    "webrtc-sys",
    "webrtc-sys/build",

    "examples/agent_dispatch",
    "examples/api",
    "examples/basic_room",
    "examples/basic_text_stream",
    "examples/encrypted_text_stream",
    "examples/local_audio",
    "examples/local_video",
    "examples/mobile",
    "examples/play_from_disk",
    "examples/rpc",
    "examples/save_to_disk",
    "examples/screensharing",
    "examples/send_bytes",
    "examples/webhooks",
    "examples/wgpu_room"
]

[workspace.dependencies]
imgproc = { version = "0.3.16", path = "imgproc" }
libwebrtc = { version = "0.3.25", path = "libwebrtc" }
livekit = { version = "0.7.30", path = "livekit" }
livekit-api = { version = "0.4.13", path = "livekit-api" }
livekit-ffi = { version = "0.12.45", path = "livekit-ffi" }
livekit-protocol = { version = "0.6.0", path = "livekit-protocol" }
livekit-runtime = { version = "0.4.0", path = "livekit-runtime" }
soxr-sys = { version = "0.1.1", path = "soxr-sys" }
webrtc-sys = { version = "0.3.22", path = "webrtc-sys" }
webrtc-sys-build = { version = "0.3.13", path = "webrtc-sys/build" }
yuv-sys = { version = "0.3.11", path = "yuv-sys" }

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"
strip = "symbols"
debug = false
